body {
	background: #ccc;
	border: 1px solid;
	width: fit-content;
	
}
#container {
    border: 2px solid; 
	height: fit-content;
	position: absolute;
	top: 10px;
	left: 10px;
	right: 10px;
	bottom: 1px;
	background: rgb(211, 231, 219);
	padding: 10px
}
.StdDetails {
	width: 250px;
	height: 330px;
	border: 1px solid #000;
	list-style: none;
	float: left;
	margin: 20px;
}
.StdDetails div {
	border: 1px solid;
	background: white;
	padding: 5px;
	margin: 5px;
}
.StdDetails img {
	width: 100px;
	height: 100px;
	margin: 10px;
	padding: 10px;
}
#hadding {
	text-align: center;
	font-size: 40px;
	border: 3px double;
	color: wheat;
	background-color: teal;
	
}